<div>
  <h2>Step 2. Select your config and options</h2>
  <form [formGroup]="secondStepForm">
    <label for="configSelect">Model</label>
    <select (change)="changeConfig()" id="configSelect" name="configSelect" formControlName="config">
      @for (config of configuration().configs; track config.id) {
        <option value="{{ config.id }}">{{ config.description }}</option>
      }
    </select>
    @if (configuredVehicleSignal().config.id != 0) {
      <span>Range: {{ configuredVehicleSignal().config.range }}</span>
      <span>Max speed: {{ configuredVehicleSignal().config.speed }}</span>
      <span>Cost: {{ configuredVehicleSignal().config.price | currency:'USD' }}</span>
    }
    <div>

    </div>
    @if (configuration().towHitch) {
      <input id="includeTow" type="checkbox" (change)="changePackages()" formControlName="towHitch"> Tow hitch ?
    }
    @if (configuration().yoke) {
      <input id="includeYoke" type="checkbox" (change)="changePackages()" formControlName="yoke"> Yoke steering wheel ?
    }
  </form>
</div>
